x-center{
    visibility: hidden;
}

x-center:defined{
    visibility: visible;
}

h1 {
    font-family: 'Merriweather', serif;
}

x-clara {
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif; 
}

footer {
    text-align: center;
}